<section>
	<ng-sidebar-container style="height: 78vh;">
		<ng-sidebar [(opened)]="opened"
					position="left"
					mode="push"
					dock="true"
					dockedSize="51px">
			<div class="dropdown-list">
				<div class="form-group">
					<label for="packer">Packer</label>
					<nz-select [(ngModel)]="packerChoose"
							   nzSize="default"
							   nzShowSearch
							   nzAllowClear
							   (ngModelChange)="getPackerGroup()"
							   id="packer">
						<nz-option *ngFor="let option of listOfPacker | unique : 'packer_type' | orderBy: 'packer_type'"
								   [nzLabel]="option.packer_type"
								   [nzValue]="option.packer_type">
						</nz-option>
					</nz-select>
				</div>
				<div class="form-group">
					<label for="packergroup">Packer Group</label>
					<nz-select [(ngModel)]="packergroupChoose"
							   nzSize="default"
							   nzShowSearch
							   nzAllowClear
							   (ngModelChange)="getPackerID()"
							   id="packergroup">
						<nz-option
							*ngFor="let option of packergroup | unique : 'packer_group' | orderBy: 'packer_group'"
							[nzLabel]="option.packer_group"
							[nzValue]="option.packer_group">
						</nz-option>
					</nz-select>
				</div>
				<div class="form-group">
					<!-- DropDown ของ PackerID -->
					<label for="packerid">Packer ID</label>
					<nz-select [(ngModel)]="packeridChoose"
							   nzSize="default"
							   nzShowSearch
							   nzAllowClear
							   (ngModelChange)="getSOT()"
							   id="packerid">
						<nz-option *ngFor="let option of packerid | unique : 'packer_id' | orderBy: 'packer_id'"
								   [nzLabel]="option.packer_id"
								   [nzValue]="option.packer_id">
						</nz-option>
					</nz-select>
				</div>
				<div class="form-group">
					<label for="sot-before">Before SOT</label>
					<nz-select [(ngModel)]="sotBeforeChoose"
							   nzShowSearch
							   nzAllowClear
							   id="sot-before">
						<nz-option *ngFor="let option of sot | unique : 'sot_id' | orderBy: 'sot_id'"
								   nzLabel="{{option.sot_id}}, {{option.SOT.package_name}}"
								   [nzValue]="option.sot_id">
						</nz-option>
					</nz-select>
				</div>
				<div class="form-group">
					<!-- DropDown ของ SOT ปลายทาง-->
					<label for="sot-after">After SOT</label>
					<nz-select [(ngModel)]="sotAfterChoose"
							   nzSize="default"
							   nzShowSearch
							   nzAllowClear
							   id="sot-after">
						<nz-option *ngFor="let option of sot | unique : 'sot_id' | orderBy: 'sot_id'"
								   nzLabel="{{option.sot_id}}, {{option.SOT.package_name}}"
								   [nzValue]="option.sot_id">
						</nz-option>
					</nz-select>
				</div>
				<br>
				<div class="form-group">
					<button class="btn btn-primary w-100" (click)="getpartofkit()">Find KIT</button>
				</div>
			</div>
			<button *ngIf="opened" class="btn btn-light toggle" (click)="open()"><i class="fa fa-mail-reply"></i>
			</button>
			<button *ngIf="!opened" class="btn btn-light toggle" (click)="open()"><i class="fa fa-mail-forward"></i>
			</button>
		</ng-sidebar>
		<div ng-sidebar-content>
			<div class="result">
				<div class="kit-chosen table-header" *ngIf="show">
					<nz-table [nzShowPagination]="false" #packerTable [nzData]="dataChoose">
						<thead>
						<tr class="table-header">
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th class="text-center">Width</th>
							<th class="text-center">Length</th>
							<th class="text-center">Thickness</th>
							<th class="text-center">C-width</th>
						</tr>
						</thead>
						<tbody>
						<tr class="text-center" *ngFor="let data of packerTable.data">
							<td>{{ data.packer_type }}</td>
							<td>{{ data.packer_group }}</td>
							<td>{{ data.packer_id }}</td>
							<td>{{ data.sot_id }}</td>
							<td>{{ data.package_name }}</td>
							<td>{{ data.package_width }}</td>
							<td>{{ data.package_length }}</td>
							<td>{{ data.package_thickness }}</td>
							<td>{{ data.package_cwidth }}</td>
						</tr>
						</tbody>
					</nz-table>
				</div>
				<div class="kitdata" *ngIf="show">
					<!-- Table for CHOOSE Number of Part -->
					<!---->
					<div class="partnumber table-header">
						<br>
						<h2>Choose Part for use</h2>
						<nz-table [nzShowPagination]="false" #partTable [nzData]="partlist">
							<thead>
							<tr class="table-header">
								<th class="text-center">Part</th>
								<th class="text-center">No#1</th>
								<th class="text-center">No#2</th>
								<th class="text-center">No#3</th>
								<th class="text-center">No#4</th>
								<th class="text-center">No#5</th>
								<th class="text-center">No#6</th>
								<th class="text-center">No#7</th>
								<th class="text-center">No#8</th>
								<th class="text-center">No#9</th>
								<th class="text-center">No#10</th>
							</tr>
							</thead>
							<tbody *ngFor="let data of partTable.data; index as i">
							<tr>
								<ng-template #PartImage>
									<nz-avatar nzShape="square" [nzSize]="120" [nzSrc]="data.Part.part_image"></nz-avatar>
								</ng-template>
								<td nzType="primary"
									nz-popover
									nzPopoverPlacement="right"
									[nzPopoverContent]="PartImage">
										{{data.Part.part_name}}
								</td>
								<td class="text-center" *ngFor="let partdata of data.Part.PartData | orderBy: 'location_id'">
									<button
										[ngClass]="chooseClass(partdata.partdata_id, partdata.status, partdata.LifeTime.status)"
										[disabled]="disable(partdata.status, partdata.LifeTime.status)"
										(click)="PartNumberChoose(partdata, partdata.part_id)"
										placement="top" ngbTooltip="{{partdata.location_id}}">
									</button>
								</td>
							</tr>
							</tbody>
						</nz-table>
						<br>
					</div>
					<!-- Table for show part chosen -->
					<!---->
					<div class="part-chosen table-header">
						<button type="button" class="btn btn-secondary" [disabled]="btnCheckOutDisabled"
								(click)=openSubmitModal()>Check out
						</button>
					</div>
				</div>
			</div>
		</div>
	</ng-sidebar-container>
	<!--	<h1>FIND Component <h3> : {{Test | json}}</h3></h1>-->
	<!--	{{ Test | json }}-->
</section>
