.modal-body {
    h1, h4 {
        display: block;
        text-align: center;
    }
}

.img-complete {
    background: url('../../../assets/images/complete.png') no-repeat;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}
