<nz-table #nestedTable [nzData]="displayData" [nzPageSize]="10">
	<thead colspan="5">
	<tr>
		<th nzWidth="4%"nzShowExpand></th>
		<th nzWidth="12%">Id</th>
		<th nzWidth="10%">Start Time</th>
		<th nzWidth="10%">End Time</th>
		<th nzWidth="10%">Status</th>
	</tr>
	</thead>
	<tbody>
	<ng-template ngFor let-data [ngForOf]="nestedTable.data">
		<tr>
			<td nzShowExpand [(nzExpand)]="data.expand"></td>
			<td >{{data.Id}}</td>
			<td>{{data.startTime}}</td>
			<td>{{data.endTime}}</td>
			<td>{{data.status}}</td>
		</tr>
		<tr [nzExpand]="data.expand">
			<td><nz-spin  *ngIf="isEventLoading"></nz-spin></td>
			<td colspan="9">
				<nz-table #innerTable [nzData]="innerTableData" nzSize="middle" [nzShowPagination]="false">
					<thead>
					<tr>
						<th>E ID</th>
						<th>S ID</th>
						<th>E Type</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let data of innerTable.data">
						<td>{{data.eID}}</td>
						<td>{{data.sID}}</td>
						<td>{{data.eType}}</td>
					</tr>
					</tbody>
</nz-table>
