.container {
    background-color: ghostwhite;
    padding: 0px;
    min-width: 100%;
    border-radius: 5px;
    .user {
        padding: 15px;
        min-width: 100%;

        button {
            margin-top: 15px;
        }
    }
}

.alert {
    line-height: 10px;
}

.required:before {
    color: red;
    content: ' * ';
}

.header {
    //min-width: 100%;
    height: 50px;
    // background-color: red;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #e4f3ac;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #e9ff7e;
    }
}

.modal-body {
    label {
        text-align: right;
    }
}

//.modal-footer {
//    padding: 0;
//    margin: 0;
//}

.user-image {
    //background: url('../../../../assets/images/avatar.png') no-repeat;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}

// -------------------------------------------------------------------

.avatar {
    width: 128px;
    height: 128px;
}
.upload-icon {
    font-size: 32px;
    color: #999;
}
.ant-upload-text {
    margin-top: 8px;
    color: #666;
}
