<div class="container" [ngSwitch]="SQL">
	<div class="modal-header">
		<h4 *ngSwitchCase="'insert'" class="modal-title">Insert User</h4>
		<h4 *ngSwitchCase="'update'" class="modal-title">Update User</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form #UserForm="ngForm">
			<div class="form-group row">
				<label for="userID" class="col-sm-3 col-form-label required">User ID :</label>
				<div class="col-sm-8">
					<input id="userID" name="userID" type="text" class="form-control" maxlength="20" required
						   [(ngModel)]="ibUserID"
						   [disabled]="SQL=='update'"
						   (click)="closeAlert()">
					<div *ngIf="alert" class="alert alert-danger">
						Duplicate userID
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="userName" class="col-sm-3 col-form-label">User name :</label>
				<div class="col-sm-8">
					<input id="userName" name="userName" [(ngModel)]="ibUserName" type="text" class="form-control">
				</div>
			</div>
			<div class="form-group row">
				<label for="user_image" class="col-sm-3 col-form-label">User image :</label>
				<div class="col-sm-8">
<!--					<input id="image" name="image" [(ngModel)]="ibUserImage" type="text" class="form-control">-->
					<nz-upload
						id="user_image"
						class="avatar-uploader"
						nzAction="http://localhost:3000/api/image/create"
						nzName="file"
						nzListType="picture-card"
						[nzShowUploadList]="false"
						[nzBeforeUpload]="beforeUpload"
						(nzChange)="handleChange($event)"
					>
						<ng-container *ngIf="!image">
							<i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
							<div class="ant-upload-text">Upload</div>
						</ng-container>
						<img *ngIf="image" [src]="image" class="avatar" />
					</nz-upload>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button *ngSwitchCase="'insert'" [disabled]="!UserForm.form.valid" (click)="Insert()" type="submit"
				class="btn btn-primary w-25">Insert
		</button>
		<button *ngSwitchCase="'update'" (click)="Update()" type="submit" class="btn btn-primary w-25">Update
		</button>
		<button (click)="activeModal.close()" type="submit" class="btn btn-secondary w-25">Cancel</button>
	</div>
</div>
