<div class="container">
	<div class="header">
		<ul>
			<li><a (click) = "CallModal('insert')">Insert</a></li>
		</ul>
		<div class="search row">
			<div class="col-sm-3">
				<button (click)="search()" class="btn btn-secondary btn-in">Search</button>
			</div>
			<div class="col-sm-8">
				<input class="form-control" type="text" [(ngModel)]="searchValue" placeholder="Package type, group or ID">
			</div>
		</div>
	</div>
	<div class="packer">
		<nz-table nzPaginationPosition="top"
				  nzBordered="true"
				  [nzPageSize]="7"
				  #packerTable [nzData]="listOfDisplayData">
			<thead>
			<tr>
				<th class="text-center">Packer</th>
				<th class="text-center">Packer Group</th>
				<th class="text-center">Packer ID</th>
				<th class="text-center">Packer UPH</th>
				<th nzWidth="30px"></th>
				<th nzWidth="50px"></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let data of packerTable.data">
				<td>{{ data.packer_type }}</td>
				<td>{{ data.packer_group }}</td>
				<td>{{ data.packer_id }}</td>
				<td>{{ data.packer_uph }}</td>
				<td><button class="btn btn-info" (click)="CallModal('update', data)">Edit</button></td>
				<td><button class="btn btn-danger" (click)="Delete(data.packer_id)">Delete</button></td>
			</tr>
			</tbody>
		</nz-table>
	</div>
</div>


