<div class="header">
	<ul>
		<li><a (click) = "CallModal('insert')">Insert</a></li>
	</ul>
</div>
<div class="container">
	<div class="part">
		<nz-table nzPaginationPosition="top"
				  nzBordered="true"
				  [nzPageSize]="7"
				  #partTable [nzData]="listOfDisplayData">
			<thead (nzSortChange)="sort($event)" nzSingleSort>
			<tr>
				<th nzWidth="100px" class="text-center" nzShowSort nzSortKey="part_id">Part ID</th>
				<th nzWidth="100px" class="text-center">Image</th>
				<th class="text-center" nzCustomFilter nzShowSort nzSortKey="part_name">
					Part Name
					<i
						nz-th-extra
						class="ant-table-filter-icon"
						nz-icon
						nz-dropdown
						#dropdown="nzDropdown"
						nzType="search"
						[nzDropdownMenu]="menu"
						[class.ant-table-filter-open]="dropdown.nzVisible"
						nzTrigger="click"
						nzPlacement="bottomRight"
						[nzClickHide]="false"
						nzTableFilter
					></i>
				</th>
				<th nzWidth="30px"></th>
				<th nzWidth="50px"></th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let data of partTable.data">
				<td class="text-center">{{ data.part_id }}</td>
<!--				-->
				<td><nz-avatar nzShape="square" [nzSize]="100" [nzSrc]="data.part_image"></nz-avatar></td>
				<td>{{ data.part_name }}</td>
				<td><button class="btn btn-info" (click)="CallModal('update', data)">Edit</button></td>
				<td><button class="btn btn-danger" (click)="Delete(data.part_id)">Delete</button></td>
			</tr>
			</tbody>
		</nz-table>

		<nz-dropdown-menu #menu="nzDropdownMenu">
			<div class="search-box">
				<input type="text" nz-input placeholder="Search Partdata" [(ngModel)]="searchValue"/>
				<button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
					Search
				</button>
				<button nz-button nzSize="small" (click)="reset()">Reset</button>
			</div>
		</nz-dropdown-menu>
	</div>
</div>


