* {
    // background: beige;
    color: black;
}
section {
    background: white;
    // margin: 5px;
    border-radius: 5px;
}

.click {
    td {
        background-color: #fbe6b5;
    }
}

.container {
    min-width: 100%;
    padding: 10px;
    .row {
        .col-md-12 {
            nz-table {
                tbody {
                    tr {
                        //background-color: lightblue;

                        span {
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}

.table-header {
    nz-table {
        th {
            text-align: center;
            background: #ffd2b1;
        }

        td {
            text-align: center;
        }

        nz-table {
            th {
                text-align: center;
                background: #fff2b7;
            }

            tr {
                td {
                    a {
                        font-weight:bold;
                        text-decoration:none
                    }
                }
            }
        }
    }
}

.status-alright {
    background-color: #f2ffc1bf;
    //background-color: #ebff9d;
}

.status-almost {
    background-color: rgba(255, 229, 123, 0.73);
}

.status-alert {
    background-color: #ffdbcbb8;
    //background-color: #ffa078;
}

nz-avatar {
    padding-right: 10px;
}

// ------------------------------------------------------------------------------------------

.header {
    height: 50px;

    .search {
        margin-top: 8px;
        margin-right: 0;
        float: right;

        input {
            width: 250px;
        }
    }
}

