<section>
	<div class="header">
		<div class="search row">
			<div class="col-sm-3">
				<button (click)="search()" class="btn btn-light btn-in">Search</button>
			</div>
			<div class="col-sm-8">
				<input class="form-control" type="text" [(ngModel)]="searchValue"
					   placeholder="YYYYMMDD or packerID or SOT">
			</div>
		</div>
	</div>
	<div class="container table-header">
		<div class="row">
			<div class="col-md-12">
				<nz-table [nzShowPagination]="false" nzSize="large" #convertTable [nzData]="listOfDisplayData">
					<thead>
					<tr>
						<!--						<th nzShowExpand></th>-->
						<th>ConvertID</th>
						<th>Packer</th>
						<th>PackerGroup</th>
						<th>PackerID</th>
						<th>SOT</th>
						<th>Create User</th>
						<!--						<th></th>-->
					</tr>
					</thead>
					<tbody>
					<ng-template ngFor let-data [ngForOf]="convertTable.data">
						<tr (click)="data.expand = !data.expand" [ngClass]="ActivateAndStatus(data.expand, data.status )">
							<!--							<td nzShowExpand [(nzExpand)]="data.expand"></td>-->
							<td>{{ data.convert_id }}</td>
							<td>{{ data.Packer.packer_type }}</td>
							<td>{{ data.Packer.packer_group }}</td>
							<td>{{ data.Packer.packer_id }}</td>
							<td><span nz-popover nzType="primary"
									  [nzPopoverContent]="data.SOT.package_name">{{ data.sot_id }}</span></td>
							<td>{{ data.User.user_name }}</td>
							<!--							<td><button class="btn btn-outline-primary" (click)="convertDetail( data.convert_id )">Part</button></td>-->
						</tr>
						<tr [nzExpand]="data.expand">
							<!--							<td></td>-->
							<td colspan="8">
								<nz-table #innerTable
										  [nzData]="data.ConvertDetail"
										  nzSize="middle"
										  nzBordered
										  [nzShowPagination]="false">
					<thead>
					<tr>
						<th>PartData Name</th>
						<th>PartName</th>
						<th>Location</th>
						<th>TimeBase</th>
						<th>Time_Use</th>
						<th>CounterBase</th>
						<th>Counter_Use</th>
						<!--						<th>Status</th>-->
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let part of innerTable.data"
						[ngClass]="CheckLifeTime(part.Partdata.LifeTime.status)"
					>
						<!--						<tr *ngFor="let data of innerTable.data">-->
						<td><a (click)="CallPartDataModal(data.convert_id, part.Partdata)">{{ part.Partdata.partdata_name }}</a></td>
						<td class="text-left">
							<nz-avatar nzShape="square" nzSize="medium"
									   [nzSrc]="part.Partdata.Part.part_image"></nz-avatar>
							{{ part.Partdata.Part.part_name }}
						</td>
						<td>{{ part.Partdata.location_id }}</td>
						<td>{{ part.Partdata.LifeTime.time_base }}</td>
						<td>{{ part.Partdata.LifeTime.time_use }}</td>
						<td>{{ part.Partdata.LifeTime.counter_base }}</td>
						<td>{{ part.Partdata.LifeTime.counter_use }}</td>
						<!--						<td class="text-center">{{ part.Partdata.LifeTime.counter_use }}</td>-->
						<td>
							<button class="btn btn-primary"
									(click)="ChangePart( part.convert_id, part.Partdata )">Change
							</button>
						</td>
					</tr>
					</tbody>
				</nz-table>

				<!--	ไม่ต้องมี </> ไม่เข้าใจเหมือนกันว่าทำไม	-->

				<!--			</div>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</section>-->
